/* Body Style  */
*{
    margin: 0;
    padding: 0;
    background: #091921;
}
/* Header Area Style  */
.highlight{
    color: yellow;
}
.font-style{
    font-family: cursive;
}
#search-input{
    width: 50%;
    padding: 10px;
    color: white;
    caret-color: white;
    border: 2px solid #091921;
    outline: none;
    box-shadow:inset -5px -5px 5px rgba(255, 255, 255, 0.05), inset 5px 5px 5px rgba(0,0,0,0.3);
    border-radius: 8px;
}
.fa-search{
    padding: 13px;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.05), 5px 5px 5px rgba(0,0,0,0.3);
    border-radius: 8px;
}
.fa-search:hover{
    box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.05), inset 5px 5px 5px rgba(0,0,0,0.3);
}
/* Card Design  */
.card{
    padding: 20px;
    border: 2px solid white !important;
    border-radius: 20px !important;
    box-shadow: 0 -2px 15px rgba(143, 143, 143, 0.5), 0 2px 15px rgba(255, 255, 255, 0.233), inset -5px -5px 15px rgba(0, 0, 0, 0.178), inset 5px 5px 15px rgba(126, 126, 126, 0.267);
}
.card img{
    width: 50%;
    margin: auto;
}
.card-body{
    background-color: white;
}
.card-title, .card-text{
    background-color: white;
}
.btn{
    border-radius: 15px !important;
    box-shadow: 0 -2px 5px rgba(143, 143, 143, 0.5), 0 2px 5px rgba(124, 124, 124, 0.733);
    border: 2px solid rgb(221, 221, 221);
}
.btn:hover{
    box-shadow: inset -2px -2px 5px rgba(100, 100, 100, 0.178), inset 2px 2px 2px rgba(83, 83, 83, 0.267);
}





/* Responsive  */
@media only screen and (max-width: 768px) {
    #search-input{
        width: 80%;
    }
  }