/* ------------- Body Style ------------- */
*{
    margin: 0;
    padding: 0;
}
/* ------------- Spinar ------------- */
#spinar{
    position: absolute;
    top:45%;
    left: 45%;
}
#spinar img{
    width: 80px;
    height: auto;
}
/* ------------- load more button ------------- */
#load-more-button{
    display: none;
}

/* ------------- Header Area Style ------------- */
.header-shadow{
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: inset -3px -3px 5px rgba(100, 100, 100, 0.178), inset 3px 3px 5px rgba(83, 83, 83, 0.267),
                -3px -3px 5px rgba(100, 100, 100, 0.178), 3px 3px 5px rgba(83, 83, 83, 0.267);
    background: linear-gradient(#fcfafb, #f4f3f5);
    padding: 8px;
}
.add-color{
    color:rgb(83, 83, 83);
}
.highlight{
    color: rgb(216, 0, 235);
}
.font-style{
    font-family: cursive;
}
#search-input{
    width: 50%;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    box-shadow: inset -3px -3px 5px rgba(100, 100, 100, 0.178), inset 3px 3px 5px rgba(83, 83, 83, 0.267);
    border-radius: 8px;
}
.fa-search{
    padding: 13px;
    box-shadow: 0 -2px 5px rgba(143, 143, 143, 0.5), 0 2px 5px rgba(124, 124, 124, 0.733);
    border-radius: 8px;
}
.fa-search:hover{
    box-shadow: inset -2px -2px 5px rgba(100, 100, 100, 0.178), inset 2px 2px 2px rgba(83, 83, 83, 0.267);
}

/* ------------- Card Design ------------- */
.d-grid{
    justify-items: center;
}
.card{
    padding: 20px;
    border: 2px solid white !important;
    border-radius: 20px !important;
    box-shadow:  inset -5px -5px 15px rgba(0, 0, 0, 0.178), inset 5px 5px 15px rgba(126, 126, 126, 0.267);
    transition: 0.5s;
}
.card:hover{
    transform: translateY(-10px)
}
.card img{
    width: 50%;
    margin: auto;
}
.card-body{
    background-color: white;
}
.card-title, .card-text{
    background-color: white;
}
.btn{
    background-color: white !important;
    border-radius: 15px !important;
    box-shadow: 0 -2px 5px rgba(143, 143, 143, 0.5), 0 2px 5px rgba(124, 124, 124, 0.733);
    border: 2px solid white !important;
    color: black !important;
    outline: none;
}
.btn:hover{
    box-shadow: inset -2px -2px 5px rgba(100, 100, 100, 0.178), inset 2px 2px 2px rgba(83, 83, 83, 0.267);
}

/* ------------- Modal Style ------------- */
.modal-header{
    box-shadow: 0 -2px 5px rgba(143, 143, 143, 0.5), 0 2px 5px rgba(124, 124, 124, 0.733);
}
.modal-btn{
    padding: 13px;
    box-shadow: 0 -2px 5px rgba(143, 143, 143, 0.5), 0 2px 5px rgba(124, 124, 124, 0.733);
    border-radius: 8px;
}
.modal-btn:hover{
    box-shadow: inset -2px -2px 5px rgba(100, 100, 100, 0.178), inset 2px 2px 2px rgba(83, 83, 83, 0.267);
}

/* ------------- Responsive ------------- */
@media only screen and (max-width: 768px) {
    #search-input{
        width: 80%;
    }
  }